networks:
    bore:
        name: bore
        driver: bridge
        ipam:
            driver: default
            config:
                - subnet: "192.168.0.0/24"
                  gateway: "192.168.0.1"

services:

    bore-nginx:
        image: likesistemas/bore-server:latest
        build: ./nginx/
        environment:
            - BORE_HOST=${BORE_SERVER_HOST:-bore-server}
        ports:
            - ${NGINX_PORT:-80}:80
            - ${BORE_PORT:-7835}:7835
        restart: always
        networks:
            - bore

    bore-server:
        build:
            context: ./bore/
            target: server
        restart: always
        environment:
            - BORE_SECRET=${BORE_SECRET}
            - BORE_MIN_PORT=${BORE_MIN_PORT:-1024}
            - BORE_MAX_PORT=${BORE_MAX_PORT:-65535}
        networks:
            - bore
